:root {
    --color-black: #0d0b11;
    --color-dark-blue: rgb(22, 24, 40);
    --color-blue: rgb(71, 90, 133);
    --color-grey: rgb(124, 124, 124);
    --color-grey-light: #76777f;
    --color-red: rgb(234, 91, 88);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: grey;
}

img {
    max-width: 100%;
}

.wrapper {
    position: relative;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}