.pb-big {
    padding-bottom: 2rem;
}

.pb-medium {
    padding-bottom: 5rem;
}

.pb-small {
    padding-bottom: 2rem;
}

.pt {
    padding-top: 8rem;
}

.padding {
    padding:  5rem 2rem;
}


.padding--big {
    padding:  15rem 4rem;
}

