.pb-big {
  padding-bottom: 2rem; }

.pb-medium {
  padding-bottom: 5rem; }

.pb-small {
  padding-bottom: 2rem; }

.pt {
  padding-top: 8rem; }

.padding {
  padding: 5rem 2rem; }

.padding--big {
  padding: 15rem 4rem; }

:root {
  --color-black: #0d0b11;
  --color-dark-blue: #161828;
  --color-blue: #475a85;
  --color-grey: #7c7c7c;
  --color-red: #ea5b58; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }

body {
  background-color: grey; }

img {
  max-width: 100%; }

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; }

.navbar {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  background-color: var(--color-black);
  height: 8rem; }
  .nav__heading {
    color: white;
    font-size: 2.5rem;
    font-weight: 400; }
    .nav__heading--bold {
      font-weight: 700; }
  .nav__menu {
    font-size: 1.4rem; }
  .nav__item {
    display: inline; }
    .nav__item:not(:last-child) {
      margin-right: 3rem; }
  .nav__link {
    color: white;
    text-decoration: none; }

.header {
  background-color: var(--color-dark-blue);
  height: 550px; }
  .header__image {
    border-radius: 5px;
    position: absolute;
    right: 3rem;
    top: 6rem; }

.heading-primary--medium {
  font-size: 3.6rem;
  color: white; }

.heading-primary--big {
  font-size: 4.8rem;
  color: white; }

.heading-secondary--big {
  font-size: 2.4rem;
  color: white; }

.btn {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  background-color: var(--color-red);
  padding: .9em 3em;
  border-radius: .2em;
  display: inline-block;
  cursor: pointer; }
  .btn:hover {
    background-color: #f73131; }
  .btn--small {
    font-size: 1.2rem;
    margin-top: 3rem; }

.section__feature {
  background-color: var(--color-blue); }

.section__title {
  font-size: 3rem;
  text-align: center;
  color: white; }
  .section__title--black {
    color: var(--color-black); }

.section__subtitle {
  font-size: 1.8rem;
  text-align: center;
  color: white; }
  .section__subtitle--black {
    color: var(--color-black); }

.section__line {
  max-width: 28rem;
  border-top: 1px solid white;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem; }
  .section__line--black {
    border-top: 1px solid var(--color-black); }

.section__line::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem; }

.section__line--black::before {
  background-color: var(--color-black);
  left: 0px; }

.section__line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: -0.5rem; }

.section__line--black::after {
  background-color: var(--color-black); }

.row {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center; }

.feature-box {
  margin: 5rem 3rem;
  flex: 0 0 200px; }
  .feature-box__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin-top: 2rem; }
  .feature-box__text {
    font-size: 1.4rem;
    color: #e7e7e7;
    margin-top: 1rem; }

.icon {
  display: inline-block;
  width: 6em;
  height: 6em;
  stroke-width: 0;
  stroke: currentColor;
  fill: white; }

.icon-arrow {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  fill: var(--color-black);
  padding: 0; }

.section__our-greatest {
  text-align: center;
  background-color: var(--color-grey); }

.section__gallery {
  background-color: white;
  text-align: center; }

.gallery__nav {
  text-align: center;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem; }

.gallery__item {
  flex: 0 0 320px;
  height: 200px;
  margin: 2rem;
  transition: .3s;
  overflow: hidden;
  position: relative; }

.gallery__image {
  transition: .3s; }

.image__overlay {
  position: absolute;
  height: 200px;
  width: 320px;
  opacity: 0;
  background-color: rgba(41, 41, 41, 0.75);
  top: 0;
  cursor: pointer;
  transition: .7s; }

.gallery__item:hover .gallery__image {
  transform: scale(1.1); }

.gallery__item:hover .image__overlay {
  opacity: 1; }

.browse {
  margin-top: 3rem;
  position: relative; }
  .browse__text {
    font-size: 1.8rem;
    font-weight: 700; }

.section__testimonials {
  background-color: white; }

.feature__row {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between; }

@media (min-width: 768px) {
  .feature__row {
    display: flex;
    flex-direction: row; } }

.feature-8 {
  max-width: 100%;
  padding: 3rem;
  text-align: center; }

@media (min-width: 768px) {
  .feature-8 {
    max-width: 60%;
    text-align: left; } }

.feature-4 {
  max-width: 100%; }

@media (min-width: 768px) {
  .feature-4 {
    max-width: 60%; } }

.feature-4 .foto {
  width: 200px;
  height: 200px;
  border-radius: 50%; }

.foto1 {
  background-image: url("img/person1.jpg");
  background-size: cover;
  background-position: -80px;
  background-repeat: no-repeat; }

.foto2 {
  background-image: url("img/person2.jpg");
  background-size: cover;
  background-position: -60px;
  background-repeat: no-repeat; }

.foto3 {
  background-image: url("img/person3.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.foto4 {
  background-image: url("img/person4.jpg");
  background-size: cover;
  background-position: -60px;
  background-repeat: no-repeat; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
